<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DatenbankenZooManagementWPF.Properties.Settings.FranksDBConnectionString"
            connectionString="Data Source=DESKTOP-7QG4I2P\DEVELOPEMENTSQL;Initial Catalog=FranksDB;Persist Security Info=True;User ID=sa;Password=SueS-852456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>